<div class="navbar-container">
  <div class="navbar" #navbar>
    <ul class="settings flex">
      <li class="nav-button"><span>{{ documentName }}</span></li>
      <li class="nav-button"> <span>Settings</span></li>
    </ul>
    <ul class="pages">
      <li class="nav-button" routerLink="workspace/design" routerLinkActive="active-page"><span>Design</span></li>
      <li class="nav-button" routerLink="workspace/animate" routerLinkActive="active-page"><span>Animate</span></li>
      <li class="nav-button" routerLink="workspace/prototype" routerLinkActive="active-page"><span>Prototype</span></li>
    </ul>
  </div>
  <div class="nav-title">UI.Design</div>
</div>