@import "../../styles/shared-styles.scss";

.box-container {
  width: $box-width;
  background-color: $mid-gray;
  margin-top: $box-gap;
  position: relative;
}

.box-header {
  @include flex();
  height: 40px;
  background-color: $label-gray;
  padding: 0 20px;
  position: sticky;
  top: 0;
}

.box-label {
  span {
    margin-left: 10px;
  }
}